--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: combo_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.combo_details (
    combo_detail_id integer NOT NULL,
    combo_id integer,
    item_id integer,
    quantity integer NOT NULL,
    CONSTRAINT combo_details_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.combo_details OWNER TO postgres;

--
-- Name: combo_details_combo_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.combo_details_combo_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.combo_details_combo_detail_id_seq OWNER TO postgres;

--
-- Name: combo_details_combo_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.combo_details_combo_detail_id_seq OWNED BY public.combo_details.combo_detail_id;


--
-- Name: combos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.combos (
    combo_id integer NOT NULL,
    tribe_id integer,
    name character varying(100) NOT NULL,
    description text,
    is_available boolean DEFAULT true
);


ALTER TABLE public.combos OWNER TO postgres;

--
-- Name: combos_combo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.combos_combo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.combos_combo_id_seq OWNER TO postgres;

--
-- Name: combos_combo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.combos_combo_id_seq OWNED BY public.combos.combo_id;


--
-- Name: dinos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dinos (
    dino_id integer NOT NULL,
    fullname character varying(100) NOT NULL,
    name character varying(50) NOT NULL,
    category character varying(50) NOT NULL
);


ALTER TABLE public.dinos OWNER TO postgres;

--
-- Name: dinos_dino_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dinos_dino_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dinos_dino_id_seq OWNER TO postgres;

--
-- Name: dinos_dino_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dinos_dino_id_seq OWNED BY public.dinos.dino_id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: genetics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genetics (
    genetic_id integer NOT NULL,
    dino_id integer,
    tribe_id integer,
    health_base integer NOT NULL,
    health_mutates integer DEFAULT 0,
    stamina_base integer NOT NULL,
    stamina_mutates integer DEFAULT 0,
    oxygen_base integer NOT NULL,
    oxygen_mutates integer DEFAULT 0,
    food_base integer NOT NULL,
    food_mutates integer DEFAULT 0,
    weight_base integer NOT NULL,
    weight_mutates integer DEFAULT 0,
    damage_base integer NOT NULL,
    damage_mutates integer DEFAULT 0,
    sale_format character varying(50),
    is_for_sale boolean DEFAULT false,
    price numeric(10,2),
    CONSTRAINT genetics_sale_format_check CHECK (((sale_format)::text = ANY ((ARRAY['egg'::character varying, 'baby'::character varying, 'grown'::character varying, 'embryo'::character varying])::text[])))
);


ALTER TABLE public.genetics OWNER TO postgres;

--
-- Name: genetics_genetic_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.genetics_genetic_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.genetics_genetic_id_seq OWNER TO postgres;

--
-- Name: genetics_genetic_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.genetics_genetic_id_seq OWNED BY public.genetics.genetic_id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    item_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    stack integer DEFAULT 0
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.items_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_item_id_seq OWNER TO postgres;

--
-- Name: items_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.items_item_id_seq OWNED BY public.items.item_id;


--
-- Name: store_combo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_combo (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    is_available boolean NOT NULL,
    tribe_id bigint NOT NULL
);


ALTER TABLE public.store_combo OWNER TO postgres;

--
-- Name: store_combo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_combo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_combo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_combodetail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_combodetail (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    combo_id bigint NOT NULL,
    item_id bigint NOT NULL,
    CONSTRAINT store_combodetail_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.store_combodetail OWNER TO postgres;

--
-- Name: store_combodetail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_combodetail ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_combodetail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_dino; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_dino (
    id bigint NOT NULL,
    fullname character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.store_dino OWNER TO postgres;

--
-- Name: store_dino_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_dino ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_dino_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_genetic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_genetic (
    id bigint NOT NULL,
    health_base integer NOT NULL,
    health_mutates integer NOT NULL,
    stamina_base integer NOT NULL,
    stamina_mutates integer NOT NULL,
    oxygen_base integer NOT NULL,
    oxygen_mutates integer NOT NULL,
    food_base integer NOT NULL,
    food_mutates integer NOT NULL,
    weight_base integer NOT NULL,
    weight_mutates integer NOT NULL,
    damage_base integer NOT NULL,
    damage_mutates integer NOT NULL,
    sale_format character varying(50) NOT NULL,
    is_for_sale boolean NOT NULL,
    price numeric(10,2) NOT NULL,
    dino_id bigint NOT NULL,
    tribe_id bigint NOT NULL
);


ALTER TABLE public.store_genetic OWNER TO postgres;

--
-- Name: store_genetic_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_genetic ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_genetic_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_item (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    stack integer NOT NULL
);


ALTER TABLE public.store_item OWNER TO postgres;

--
-- Name: store_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_tribe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_tribe (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.store_tribe OWNER TO postgres;

--
-- Name: store_tribe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_tribe ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_tribe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: store_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_user (
    id bigint NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    password character varying(255) NOT NULL,
    tribe_id bigint NOT NULL
);


ALTER TABLE public.store_user OWNER TO postgres;

--
-- Name: store_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.store_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.store_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tribes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tribes (
    tribe_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.tribes OWNER TO postgres;

--
-- Name: tribes_tribe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tribes_tribe_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tribes_tribe_id_seq OWNER TO postgres;

--
-- Name: tribes_tribe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tribes_tribe_id_seq OWNED BY public.tribes.tribe_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    tribe_id integer,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: combo_details combo_detail_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combo_details ALTER COLUMN combo_detail_id SET DEFAULT nextval('public.combo_details_combo_detail_id_seq'::regclass);


--
-- Name: combos combo_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combos ALTER COLUMN combo_id SET DEFAULT nextval('public.combos_combo_id_seq'::regclass);


--
-- Name: dinos dino_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dinos ALTER COLUMN dino_id SET DEFAULT nextval('public.dinos_dino_id_seq'::regclass);


--
-- Name: genetics genetic_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genetics ALTER COLUMN genetic_id SET DEFAULT nextval('public.genetics_genetic_id_seq'::regclass);


--
-- Name: items item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items ALTER COLUMN item_id SET DEFAULT nextval('public.items_item_id_seq'::regclass);


--
-- Name: tribes tribe_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tribes ALTER COLUMN tribe_id SET DEFAULT nextval('public.tribes_tribe_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$fQZKOtXRaZwA1MGVienVfc$EFdaMywHIYVa9VraL+8d7fT9f8XHkFFkpiFTJ2jxJj0=	\N	t	ElPyker			elpyker@gmail.com	t	t	2025-01-08 11:09:39.618905+08
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: combo_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.combo_details (combo_detail_id, combo_id, item_id, quantity) FROM stdin;
\.


--
-- Data for Name: combos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.combos (combo_id, tribe_id, name, description, is_available) FROM stdin;
\.


--
-- Data for Name: dinos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dinos (dino_id, fullname, name, category) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	store	user
8	store	combodetail
9	store	item
10	store	tribe
11	store	dino
12	store	combo
13	store	genetic
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: genetics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.genetics (genetic_id, dino_id, tribe_id, health_base, health_mutates, stamina_base, stamina_mutates, oxygen_base, oxygen_mutates, food_base, food_mutates, weight_base, weight_mutates, damage_base, damage_mutates, sale_format, is_for_sale, price) FROM stdin;
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.items (item_id, name, description, stack) FROM stdin;
\.


--
-- Data for Name: store_combo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_combo (id, name, description, is_available, tribe_id) FROM stdin;
\.


--
-- Data for Name: store_combodetail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_combodetail (id, quantity, combo_id, item_id) FROM stdin;
\.


--
-- Data for Name: store_dino; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: store_genetic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_genetic (id, health_base, health_mutates, stamina_base, stamina_mutates, oxygen_base, oxygen_mutates, food_base, food_mutates, weight_base, weight_mutates, damage_base, damage_mutates, sale_format, is_for_sale, price, dino_id, tribe_id) FROM stdin;
\.


--
-- Data for Name: store_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: store_tribe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_tribe (id, name, description) FROM stdin;
1	TPS	TastyPoopS
\.


--
-- Data for Name: store_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.store_user (id, username, email, password, tribe_id) FROM stdin;
2	Noui	noui@gmail.com	pbkdf2_sha256$870000$SfwYd7wigQ2qwIRIBguZj3$6cKXiIsWRW7uyVxOepCDNeNlo8uEZUPu1UWr2iBr+ZM=	1
1	ElChofry	elchofry@gmail.com	pbkdf2_sha256$870000$yFapHUW1fS09EKVFnb8AOU$gAfFZgrEksD1YPf75z9ZjHjDCx2QRvb9ImgtKZKDT/8=	1
\.


--
-- Data for Name: tribes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tribes (tribe_id, name, description) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, tribe_id, username, email, password) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: combo_details_combo_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.combo_details_combo_detail_id_seq', 1, false);


--
-- Name: combos_combo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.combos_combo_id_seq', 1, false);


--
-- Name: dinos_dino_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dinos_dino_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: genetics_genetic_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.genetics_genetic_id_seq', 1, false);


--
-- Name: items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.items_item_id_seq', 1, false);


--
-- Name: store_combo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_combo_id_seq', 1, false);


--
-- Name: store_combodetail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_combodetail_id_seq', 1, false);


--
-- Name: store_dino_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_dino_id_seq', 76, true);


--
-- Name: store_genetic_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_genetic_id_seq', 1, false);


--
-- Name: store_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_item_id_seq', 198, true);


--
-- Name: store_tribe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_tribe_id_seq', 1, true);


--
-- Name: store_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_user_id_seq', 2, true);


--
-- Name: tribes_tribe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tribes_tribe_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: combo_details combo_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combo_details
    ADD CONSTRAINT combo_details_pkey PRIMARY KEY (combo_detail_id);


--
-- Name: combos combos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combos
    ADD CONSTRAINT combos_pkey PRIMARY KEY (combo_id);


--
-- Name: dinos dinos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dinos
    ADD CONSTRAINT dinos_pkey PRIMARY KEY (dino_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: genetics genetics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genetics
    ADD CONSTRAINT genetics_pkey PRIMARY KEY (genetic_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (item_id);


--
-- Name: store_combo store_combo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_combo
    ADD CONSTRAINT store_combo_pkey PRIMARY KEY (id);


--
-- Name: store_combodetail store_combodetail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_combodetail
    ADD CONSTRAINT store_combodetail_pkey PRIMARY KEY (id);


--
-- Name: store_dino store_dino_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_dino
    ADD CONSTRAINT store_dino_pkey PRIMARY KEY (id);


--
-- Name: store_genetic store_genetic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_genetic
    ADD CONSTRAINT store_genetic_pkey PRIMARY KEY (id);


--
-- Name: store_item store_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_item
    ADD CONSTRAINT store_item_pkey PRIMARY KEY (id);


--
-- Name: store_tribe store_tribe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_tribe
    ADD CONSTRAINT store_tribe_pkey PRIMARY KEY (id);


--
-- Name: store_user store_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_user
    ADD CONSTRAINT store_user_email_key UNIQUE (email);


--
-- Name: store_user store_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_user
    ADD CONSTRAINT store_user_pkey PRIMARY KEY (id);


--
-- Name: store_user store_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_user
    ADD CONSTRAINT store_user_username_key UNIQUE (username);


--
-- Name: tribes tribes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tribes
    ADD CONSTRAINT tribes_pkey PRIMARY KEY (tribe_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: store_combo_tribe_id_eb33e566; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_combo_tribe_id_eb33e566 ON public.store_combo USING btree (tribe_id);


--
-- Name: store_combodetail_combo_id_b97ea3f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_combodetail_combo_id_b97ea3f0 ON public.store_combodetail USING btree (combo_id);


--
-- Name: store_combodetail_item_id_8f9775f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_combodetail_item_id_8f9775f0 ON public.store_combodetail USING btree (item_id);


--
-- Name: store_genetic_dino_id_4dc1046b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_genetic_dino_id_4dc1046b ON public.store_genetic USING btree (dino_id);


--
-- Name: store_genetic_tribe_id_81365b20; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_genetic_tribe_id_81365b20 ON public.store_genetic USING btree (tribe_id);


--
-- Name: store_user_email_67924811_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_user_email_67924811_like ON public.store_user USING btree (email varchar_pattern_ops);


--
-- Name: store_user_tribe_id_7cfb1cea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_user_tribe_id_7cfb1cea ON public.store_user USING btree (tribe_id);


--
-- Name: store_user_username_c2c55c55_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX store_user_username_c2c55c55_like ON public.store_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: combo_details combo_details_combo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combo_details
    ADD CONSTRAINT combo_details_combo_id_fkey FOREIGN KEY (combo_id) REFERENCES public.combos(combo_id) ON DELETE CASCADE;


--
-- Name: combo_details combo_details_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combo_details
    ADD CONSTRAINT combo_details_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(item_id) ON DELETE CASCADE;


--
-- Name: combos combos_tribe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.combos
    ADD CONSTRAINT combos_tribe_id_fkey FOREIGN KEY (tribe_id) REFERENCES public.tribes(tribe_id) ON DELETE CASCADE;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: genetics genetics_dino_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genetics
    ADD CONSTRAINT genetics_dino_id_fkey FOREIGN KEY (dino_id) REFERENCES public.dinos(dino_id) ON DELETE CASCADE;


--
-- Name: genetics genetics_tribe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genetics
    ADD CONSTRAINT genetics_tribe_id_fkey FOREIGN KEY (tribe_id) REFERENCES public.tribes(tribe_id) ON DELETE CASCADE;


--
-- Name: store_combo store_combo_tribe_id_eb33e566_fk_store_tribe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_combo
    ADD CONSTRAINT store_combo_tribe_id_eb33e566_fk_store_tribe_id FOREIGN KEY (tribe_id) REFERENCES public.store_tribe(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_combodetail store_combodetail_combo_id_b97ea3f0_fk_store_combo_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_combodetail
    ADD CONSTRAINT store_combodetail_combo_id_b97ea3f0_fk_store_combo_id FOREIGN KEY (combo_id) REFERENCES public.store_combo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_combodetail store_combodetail_item_id_8f9775f0_fk_store_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_combodetail
    ADD CONSTRAINT store_combodetail_item_id_8f9775f0_fk_store_item_id FOREIGN KEY (item_id) REFERENCES public.store_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_genetic store_genetic_dino_id_4dc1046b_fk_store_dino_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_genetic
    ADD CONSTRAINT store_genetic_dino_id_4dc1046b_fk_store_dino_id FOREIGN KEY (dino_id) REFERENCES public.store_dino(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_genetic store_genetic_tribe_id_81365b20_fk_store_tribe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_genetic
    ADD CONSTRAINT store_genetic_tribe_id_81365b20_fk_store_tribe_id FOREIGN KEY (tribe_id) REFERENCES public.store_tribe(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: store_user store_user_tribe_id_7cfb1cea_fk_store_tribe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_user
    ADD CONSTRAINT store_user_tribe_id_7cfb1cea_fk_store_tribe_id FOREIGN KEY (tribe_id) REFERENCES public.store_tribe(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users users_tribe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tribe_id_fkey FOREIGN KEY (tribe_id) REFERENCES public.tribes(tribe_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

